<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-around-content-between align-items-center">
                <h1 class="mt-3 mb-3">Lista Viaggi</h1>
            </div>
        </div>
    </div>
    <div class="row js_no_post text-center d-none">
        <div class="col-12">
            <h3>Non sono presenti viaggi</h3>
        </div>
    </div>
    <div class="row js_post_cards d-none">
        <!--qui verranno visualizzate i viaggi-->
    </div>
</div>

@section Script {
    
    <script type="text/javascript">
    
        loadViaggis();
        
        function loadViaggis () {
        axios.get('/api/Viaggis/Get').then((result) => {
            //Codice che verrà eseguito quando arrivano i dati dalle api
            console.log("Vedo i miei viaggi!");
            if(result.data.lenght == 0)
            {
                document.querySelector('.js_post_cards').classList.add('d-none');
            } else {
                document.querySelector('.js_no_post').classList.add('d-none');
                result.data.forEach(viaggio => {
                    document.querySelector('js_post_cards').innerHTML += 
                    `
                    <div class="col-12 col-md-4 p-2"
                        <div class="card">
                          <img class="card-img-top" src="${viaggio.Image}" alt="${viaggio.Description}">
                          <div class="card-body">
                            <h5 class="card-title">${viaggio.Name}</h5>
                            <p class="card-text">${viaggio.Description}</p>
                          </div>
                    </div>
                    </div>
                    `
                  
                });
            }
        }
        ).catch((error) => {
            console.log("C'è stato un errore: " + error);
        });
        
    }
    </script>
}
